<tr>
    <td>Task 1</td>
    <td> Start of the Task 1</td>
    <td> 26-05-2022 12:00 PM</td>
    <td> 27-05-2022 12:00 PM</td>
    <td>1</td>
    <td>Done</td>
    <td>
        <a href="/update-task" class="btn border-shadow update">
        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
        <span class="text-gradient"><i class="fa-solid fa-xmark"></i></i></span>
        </a>
    </td>
</tr>